body {
    width: 100%;
    height: 100%;
}

.h-400 {
    height: 400px ;
}

.t-red {
    color: #d0021b;
    font-weight: 700;
}

.loading-center {
    position: absolute;
    left: 50%;
}

/* all tag a */
a {
    cursor: pointer;
}
a:hover {
    text-decoration: none !important;
}

ul, li {
    list-style-type: none;
}

.breadcrumb {
    background-color: #f8f9fa !important;
    font-size: 13px;
}

/* 

.main-wrapper {
    
} */

.checked {
    color: orange;
}

.rating>a {
    color: blue;
}

.rating>a:visited {
    color: blue;
}

.rating>a:hover {
    color: blue;
    text-decoration: none;
}

.rating>a:active {
    color: red;
    text-decoration: none;
}

.price {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 0.5px #000 solid !important;
}

.price-promo {
    width: 45%;
    padding-left: -1rem !important;
    background: #f5f5f5;
    color: #dc3545;
}

.price-nor {
    font-weight: 400;
    padding-left: -1rem !important;
    text-decoration: line-through;
    background: #f5f5f5;
    color: #3d3d3d;
}

.nav {
    width: 100%;
}

.list-ft>li>a {
    color: #fff;
}

.list-ft>li>a:hover {
    text-decoration: none;
    color: rgb(172, 165, 165);
}

.count-prd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}

.count-prd label {
    margin: 0;
}

.count-prd>div {
    max-width: 60%;
    margin-left: 1rem;
}

.count-prd>div>button {
    outline: none;
    font-weight: 600;
    line-height: 1;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, .09);
    color: rgba(0, 0, 0, .8);
    border-radius: 2px;
    background: transparent;
    width: 32px;
    height: 32px;
}

.count-prd>div>input {
    max-width: 50px;
    height: 32px;
    text-align: center;
    border-left: none;
    border-right: none;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    outline: none;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
}

/* page 404 */

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #ff6300;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #ff6300;
    background: #211b19;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
        font-size: 148px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 148px;
        margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
        font-size: 86px;
    }
    .notfound .notfound-404 h2 {
        font-size: 16px;
    }
    .notfound a {
        padding: 7px 15px;
        font-size: 14px;
    }
}


.cart-prd-row a {
    color: #000;
}

.cart-prd-row label {
    cursor: text;
    font-size: 1.2rem;
}

.cart-prd-row button {
    outline: none;
    font-weight: 600;
    line-height: 1;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, .09);
    color: rgba(0, 0, 0, .8);
    border-radius: 2px;
    background: transparent;
    width: 30px;
    height: 30px;
}

.cart-prd-row input {
    max-width: 40px;
    height: 30px;
    text-align: center;
    border-left: none;
    border-right: none;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    outline: none;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
}

.cart-action {
    font-size: 18px;
}

