.breadcrumb {
    background-color: #f8f9fa !important;
    font-size: 13px;
}


/* 

.main-wrapper {
    
} */

.checked {
    color: orange;
}

.rating>a {
    color: blue;
}

.rating>a:visited {
    color: blue;
}

.rating>a:hover {
    color: blue;
    text-decoration: none;
}

.rating>a:active{
    color: red;
    text-decoration: none;
}

.price {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 0.5px #000 solid !important;
}

.price-promo {
    width: 45%;
    padding-left: -1rem !important;
    background: #f5f5f5;
    color: #dc3545;
}

.price-nor {
    padding-left: -1rem !important;
    text-decoration: line-through;
    background: #f5f5f5;
    color: #3d3d3d;
}

.nav {
    width: 100%;
}

.list-ft>li>a {
    color: #fff;
}

.list-ft>li>a:hover {
    text-decoration: none;
    color: rgb(172, 165, 165);
}